 *, 
 *::before, 
 *::after {
    box-sizing: border-box; 
 }
 body {
    background-color: rgb(240, 242, 242)
 }

 .flexcontainer.one {
    display: flex;
    flex-direction: column;
 }

 .flexcontainer.two {
    display: flex; 
    justify-content: center;
    margin: 20px auto;
    width: 500px;
 }

 .header, 
 .para {
    color: black;
    text-align: center;
    padding: 20px;
    min-width: 0;
    min-height: 0;

    flex: auto;
 }

 

 .para {
    border: 3px rgb(128, 225, 242) solid;
    background-color: rgb(232, 234, 235);
    color: black;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    border-radius: 10px;
    font-weight: 450;
   
 }

 .header {
    padding-bottom: 5px;
    border-bottom: 4px rgb(128, 225, 242) solid; 
 }

 .header.one {
    font-size: 50px;
 }
